.meals{
    /* color: white; */
    position: relative;
    width: 80rem; 
    /* height: 15rem; */
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.5);
    border-radius:1rem; 
    padding: 0rem 1rem;
    margin:0 auto;
    max-width: 95%;
    margin-top: 5rem;
    position: relative;
    background-color: rgb(233, 221, 221);

}

.li{
list-style: none;
display: flex;
flex-direction: column;
}
