.form{
    text-align: right;
  
}

.form button{
    cursor: pointer;
    font: inherit;
    font-family: bold;
    padding: 0.3rem 2rem;
    border-radius: 5rem;
    border: none;
    background-color: rgb(68,86,38);
    color: white;
}
.form button:hover,
.form button:active{
    background-color: rgb(89, 109, 51);
}
.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem;
}
.number{
    background-color: rgb(209, 216, 198);
    padding: 0.5rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-family: bold;
    margin: 0 0.5rem;
    border-radius: 2rem;
}